.backgroundImg {
    background-image: url(../../assets/images/Communihub.PNG);
    background-size:     auto, auto;                  
    background-repeat:   no-repeat;
    background-position: center center;
    height: 900px;
    background-color: black;
}